.plus-card {
  display: flex;
  align-items: center;
  margin-bottom: rem-calc(25);
  padding: rem-calc(18 15);
  background-color: rgba(0, 23, 38, 0.902);
  
  &__icon {
    margin-right: rem-calc(15);
    width: rem-calc(32);
  }

  &__text {
    color: $white;
  }

  &__title {
    font-family: $font-exo;
    font-weight: 700;
    font-size: rem-calc(24);
    line-height: 1;
    text-transform: uppercase;
    max-width: rem-calc(100);
  }

  &__subtitle {
    margin-bottom: 0;
    font-family: $font-exo;
    font-weight: 400;
    line-height: 1;
    font-size: rem-calc(14);
    max-width: rem-calc(200);
  }
}