.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: rem-calc(0 5);
  width: 100%;
  list-style: none;

  &__link {
    display: block;
    font-family: $font-exo;
    font-weight: 600;
    font-size: rem-calc(16);
    color: $black;
    padding: rem-calc(20 10);
    transition: 0.3s ease;

    &:hover,
    &:focus,
    &:active {
      color: $alert-color;
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    height: 100vh;
    overflow-y: auto;

    &__link {
      padding: rem-calc(10);
    }
  }
}